.certifications {
    margin-bottom: 20px;
    .title {
        @include sub-header;
    }
    .certifications-item {
        margin-bottom: 20px;
        .certificate {
            @include body-text;
            font-weight: bold;
        }
        .date {
            @include body-text;
        }
    }
}
